{% for router_config in bgp_config -%}
    router bgp {{ router_config.asn }}
    bgp router-id {{ router_config.router_id }}
    no bgp default {{ router_config.default }}

    {% for neighbor in router_config.neighbor -%}
        neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
        neighbor {{ neighbor.ip }} update-source {{ neighbor.update_source }}
        neighbor {{ neighbor.ip }} description {{ neighbor.description }}
    {% endfor -%}

    {% for af, af_config in router_config.address_family -%}
        address-family {{ af }}
            {% for neighbor_af in af_config -%}
                neighbor {{ neighbor_af.neighbor }} activate
            {% endfor -%}
        exit-address-family
    {% endfor -%}
exit
{% endfor -%}